@import "./Variables.scss";

.character-detail-container {
  background-color: $primary-color;
  padding-bottom: 5rem;

  .character-header {
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0 15rem;
    @media only screen and (max-width: 768px) {
      padding: 0;
      justify-content: space-between;
      flex-wrap: wrap;
     }
  
    .character-info {
      width: 100%;
      margin-left: 2rem;
      position: relative;
      @media only screen and (max-width: 768px) {
        margin: 0;
        padding: 1rem 1rem 3rem;
      }
    
      .character-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem;
        background-color: $secondary-color;
        min-height: 2rem;
        margin-top: auto;

        @media only screen and (max-width: 768px) {
          padding: .8rem 0;
        }
        
        .character-name {
          font-size: 2.5em;
          font-weight: 700;
          margin: 0;
          text-transform: uppercase;

          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
        
        .character-description {
          margin-top: 1rem;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      .character-info::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 2rem solid $primary-color;
        border-top: 2rem solid transparent;
       }
    }
  }

  .character-image {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
    margin-right: 1.2rem;

    @media only screen and (max-width: 768px) {
      max-width: none;
      width: 100%;
      margin-right: 0;
    }
  }

  .comics-title {
    margin: 2rem 15rem;
    font-size: 2em;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      margin: 2rem 1rem;
      font-size: 1.5rem;
    }
  }

  .comics-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    margin: 1.2rem 15rem;

    @media only screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .comic-item {
    max-width: 10rem;
  }

  .comic-image {
    width: 10rem;
    height: auto;
    object-fit: cover;
  }

  .comic-title {
    font-size: 1em;
    font-weight: 500;
    margin: .2rem 0;
  }

  .comic-year {
    font-size: 0.8em;
    margin: 0;
  }
}

.shadow-scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border-color;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}