@import "./Variables.scss";

.character-card {
 display: flex;
 flex-direction: column;
 max-width: 12rem;
 overflow: hidden;
 position: relative;
 background-color: $secondary-color;
 color: $primary-color;

 @media only screen and (max-width: 768px) {
  max-width: 10rem;
 }

 .character-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 12rem;

  .character-image {
   flex-shrink: 0;
   min-width: 100%;
   min-height: 100%;
  }
 }

 .character-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  background-color: #000;
  min-height: 2rem;
  margin-top: auto;
  border-top: 5px solid $border-color;
 }

 .character-name {
  font-size: .9rem;
 }

 .favorite-icon {
  cursor: pointer;
  height: .8rem;
  width: .8rem;
 }
}

.character-card::after {
 content: '';
 position: absolute;
 bottom: 0;
 right: 0;
 border-right: 1rem solid #f0f0f0;
 border-top: 1rem solid transparent;
}
